@import './styles/header';
@import './styles/footer';
@import './styles/memberList';
@import './styles/paginate';

%position-abs {
  position: absolute;
}

%text-center {
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.main {
  min-height: 450px;
  padding: 20px; 
}
